.product_checked_star {
    color: orange;
}

.h-spacer {
    min-height: 100%;
}

.screen-90h {
    min-height: 90vh;
}

.mt-200 {
    margin-top: 200px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-100 {
    margin-top: 150px;
}

.mt-50 {
    margin-top: 50px;
}

.messagesWindow {
    position: relative;
    -webkit-animation: messageDisappear 9s forwards;
    animation: messageDisappear 9s forwards;
}

@keyframes messageDisappear {
    0% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes messageDisappear {
    0% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
